.Content-Cer-IDB{
     margin-top: 550px;
     margin-left: 20px;
     border: 1px solid none;
     box-shadow: 0px 0px 4px 0px #00000040;
     width:1112px;
     height:85px;
     display: flex;
     border-radius: 5px;
     align-items: center;
     box-sizing: border-box;
}
.Certi-IDB{
    display: flex;
    align-items: center;
    margin-left: 28px;
}
.Certi-IDB h2 {
    color: #000000;
    width: 83px;
    height: 17px;
    font-size:14px;
    font-weight:600;
    line-height: 100%;
    margin-left: 16px;
}
.Fund-IDB h3{
    margin-left: 20px;
    width: 149px;
    height: 13px;
    font-size:11px;
    color: #000000;
    font-weight: 600;
    line-height: 100%;
}
.Fund-IDB p {
    font-size: 11px;
    font-weight: 400;
    margin-left: 20px;
}
.Down-IDB{
    border: 1px solid #7373734D;
    width: 153px;
    height: 36px;
    border-radius: 10px;
    margin-left: 575px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
    align-items: center;
}
.Down-IDB h3 {
    color: #2675FA;
    font-size:11px;
    font-weight:600;
    line-height:100%;
}