.Content-IDB {
  width: 100%;
  min-height: 100vh;
  display: flex;
  overflow: hidden;
  margin-right: 0;
}

.Main-IDB {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 0;
}

.Section-IDB {
  padding: 20px;
}