.Content-Sidebar-IDB{
    border: 1px solid none;
    width: 278px;
    height: 100%;
    background-color: #00328D;
    box-sizing: border-box;
}
.head1-Sidebar-IDB{
    width:220px;
    height:90px;
    padding:32px;
    padding-top: 29px;
}
.head1-Sidebar-IDB h2{
    color: #FFFFFF;
    font-size:24;
    font-weight:700;
    font-style: bold;
    line-height: 32px;
    letter-spacing: -0.24px;
    margin-bottom: 8px;
}
.head1-Sidebar-IDB p{
    width: 182.13px;
    color: #FFFFFF;
    font-size:12px;
    font-weight:500;
    line-height:16px;
}
.head2-Sidebar-IDB{
    border: 1px solid none;
    width:239px;
    height:37px;
    border-radius: 8px;
    margin-left: 12px;
    align-items: center;
    display: flex;
    margin-top: 16px;
    background: rgba(255, 255, 255, 0.18);
}
.head2-Sidebar-IDB img {
    width:20px;
    height:17px;
    margin-left: 25px;
    margin-bottom: 5px;
}
.head2-Sidebar-IDB h4{
    color: #FFFFFF;
    font-size:15px;
    font-weight:500;
    line-height: 100%;
    margin-left: 15px;
}
.Header-sidebar-IDB{
    display: grid;
}
.header-sidebar-IDB {
    display: flex;
    padding-top: 30px;
    padding-left: 16px;
    margin-left: 20px;
}
.header-sidebar-IDB img{
    width: 21px;
    height: 21px;
}
.header-sidebar-IDB span {
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 500;
    line-height: 100%;
    margin-top: 3px;
    margin-left: 20px;
}