
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.Content-Loginpage{
    border: 1px solid rgb(220, 207, 207);
    width:1263px;
    height:790px;
    margin:20px auto;
    display:flex;
    border-radius:12px;
    overflow:hidden;
}

.left-panel-Loginpage {
    width: 640px;
    height: 790px;
    background: linear-gradient(160deg, #181D3C, #2A49E2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-sizing: border-box;
}

.left-content-Loginpage {
    flex: 1;
    display: flex;
    align-items: center;
}

.Left-top-Loginpage {
   border: 1px solid none;
   width: 448px;
   height: 420px;
   display: grid;
   margin-left: 96px;
}

.logo-Loginpage {
    font-size: 40px;
    color: #FFFFFF;
    line-height: 48px;
    letter-spacing: -1px;
    font-weight: 700;
    margin-top: 0;
}

.left-content-Loginpage h2 {
    width: 448px;
    height: 124px;
    padding-top: 24px;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: -0.8px;
    color: #FFFFFF;
    font-weight: 700;
}

.left-content-Loginpage p {
    width: 448px;
    height: 84px;
    color: #DAD7FF;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 1px;
}

.stat-Loginpage {
    display: flex;
    gap: 90px;
    width: 448px;
    height: 92px;
    padding-top: 40px;
}

.stat-Loginpage h3 {
    color:#FFFFFFE5;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
}

.stat-Loginpage span {
    color: #FFFFFFE5;
    font-size: 12px;
    letter-spacing: 0.6px;
    font-weight: 500;
    line-height: 16px;
}

.copyright-Login {
    color: #FFFFFF80;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    margin-left: 50px;
    margin-bottom: 50px;
}



.right-panel-Login{
    width: 621px;
    height: 790px;
    flex:1;
    display:flex;
    background: #FFFFFF;
}
.right-content-Login{
    border: 1px solid none;
    width: 435px ;
    height: 662px ;
    margin-left: 40.5px;
    margin-top: 64px;
    box-sizing: border-box;
}
.login-box{
    width:100%;
    max-width:430px;
}
.head-Login{
    border: 1px solid none;
    width:435px ;
    height: 72px;
    display: grid;
    gap: 8px;
    margin-bottom: 32px;
}
.head-Login h1{
    font-size:32px;
    color: #111C2D;
    font-weight:600;
    line-height: 40px;
    letter-spacing: -0.32px;
}
.head-Login p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #464555;
}

.Form-Login{
    border: 1px solid none;
    width: 435px;
    height: 316px;
    box-sizing: border-box;
}
label{
    display:block;
    color: #111C2D;
    font-size:14px;
    font-weight:600;
    line-height: 20px;
    letter-spacing: 0.7px;
}

.input-box-Login{
    width:435px;
    height:54px;
    display:flex;
    align-items:center;
    border:1px solid #C7C4D8;
    border-radius:8px;
    padding:15px 16px 16px 15px;
    transition:.3s;
    position: relative;
    color: #6B7280;

}

.input-box-Login:focus-within{
    border-color:#4f46e5;
}

.input-box-Login svg{
    color:#777;
    font-size:18px;
}

.input-box-Login input{
    flex:1;
    width: 100px;
    border:none;
    outline:none;
    font-size:16px;
    padding-left:12px;
    background:transparent;
}

.eye{
    cursor:pointer;
}
.eye-icon{
    position:absolute;
    right:15px;
    top:50%;
    transform:translateY(-50%);
    cursor:pointer;
}


.label-row{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.label-row a{
    text-decoration:none;
    color:#3525CD;
    font-size:14px;
}

.remember{
    display:flex;
    align-items:center;
    gap:10px;
    margin-bottom:28px;
    font-size:15px;
    color:#464555;
    line-height: 20px;
    font-weight: 400;
}

.remember input{
    border-color: #C7C4D8;
    width: 16px;
    height: 16px;
    border-radius: 4px;
}


.signin-Login{
    width:100%;
    height:52px;
    border:none;
    border-radius:8px;
    background:#3525CD;
    color:#FFFFFF;
    font-size:14px;
    font-weight:600;
    line-height: 20px;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:10px;
    cursor:pointer;
    transition:.3s;
}

.signin-Login:hover{
    background:#3525CD;
}

.divider-Login{
    display:flex;
    align-items:center;
    margin:40px 0;
    color:#464555;
    font-size:14px;
}

.divider-Login::before,
.divider-Login::after{
    content:"";
    flex:1;
    height:1px;
    background:#ddd;
}

.divider-Login span{
    padding:0 15px;
}

.google{
    width:187px;
    height:46px;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:10px;
    border:1px solid #C7C4D8;
    border-radius:8px;
    background:#fff;
    cursor:pointer;
    font-size:16px;
    color: #000000;
    transition:.3s;
    margin-left: 120px;
}

.signup-Login{
    text-align:center;
    color: #464555;
    margin:40px 0 15px;
    font-size:14px;
    line-height: 20px;
    font-weight: 400;
}

.signup-Login a{
    color:#3525CD;
    text-decoration:none;
    font-weight:600;
}

.footer-links-Login{
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
    font-size:12px;
    color: #464555;
    margin-top: 40px;
}

.footer-links-Login a{
    color:#464555;
    text-decoration:none;
}

.footer-links-Login a:hover{
    color:#4f46e5;
}
.Gicon{
    width: 20px;
    height: 20px;
}
.eye-icon{
    width:20px;
    height:20px;
    cursor:pointer;
}



@media (max-width:992px){

.login-page{
    flex-direction:column;
    min-height:auto;
}

.left-panel,
.right-panel{
    width:100%;
}

.left-panel{
    padding:50px 35px;
}

.left-panel h1{
    margin-bottom:50px;
}

.left-content h2{
    font-size:38px;
}

.left-content p{
    font-size:17px;
}

.stats{
    gap:40px;
    flex-wrap:wrap;
}

.right-panel{
    padding:50px 30px;
}

.login-box{
    max-width:100%;
}

}

@media (max-width:576px){

.Page-Container{
    padding:15px;
}

.left-panel{
    padding:35px 25px;
}

.left-panel h1{
    font-size:32px;
}

.left-content h2{
    font-size:30px;
}

.left-content p{
    font-size:15px;
}

.login-box h1{
    font-size:32px;
}

.subtitle{
    font-size:15px;
}

.stats{
    flex-direction:column;
    gap:25px;
}

.footer-links{
    flex-direction:column;
    align-items:center;
    gap:10px;
}

}


