*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Inter,sans-serif;
}


.Content-Sucesslogin{
    width:1100px;
    height:700px;
    margin:20px auto;
    display:flex;
    background:#fff;
    border-radius:12px;
    overflow:hidden;
}


.left-panel-Sucesslogin{
    width:48%;
    background:linear-gradient(180deg,#2f59d8,#0f1b44);
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:flex-start;
    color:#fff;
    padding:60px 65px;
}

.check-circle-Sucess{
    width:90px;
    height:90px;
    border-radius:50%;
    background:rgba(255,255,255,0.10);
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top:40px;
    margin-bottom:40px;
}

.inner-circle-Sucess{
    width:46px;
    height:46px;
    border-radius:50%;
    background:#fff;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:28px;
}

.left-panel-Sucesslogin h1{
    font-size:30px;
    line-height:1.15;
    text-align:center;
    font-weight:700;
    margin-bottom:20px;
}

.left-panel-Sucesslogin p{
    text-align:center;
    color:#d8dcef;
    font-size:18px;
    line-height:34px;
    width:420px;
    margin-bottom:35px;
}

.success-image{
    width:250px;
    border-radius:14px;
    object-fit:cover;
}


.right-panel-Sucesslogin{
    width:48%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    padding:10px;
    background:#fff;
    margin: 50px;
}

.status{
    display:inline-flex;
    align-items:center;
    gap:8px;
    width:max-content;
    padding:8px 15px;
    background:#f1edff;
    color:#5a3cf0;
    border-radius:20px;
    font-size:14px;
    font-weight:600;
    margin-bottom:30px;
}

.right-panel h2{
    font-size:40px;
    color:#151515;
    margin-bottom:20px;
}

.description{
    font-size:21px;
    line-height:36px;
    color:#666;
    margin-bottom:45px;
}

.login-btn{
    width:100%;
    height:55px;
    border:none;
    border-radius:8px;
    background:#4a2de2;
    color:#fff;
    font-size:17px;
    font-weight:600;
    cursor:pointer;
    display:flex;
    align-items:center;
    justify-content:center;
    gap:18px;
    transition:.3s;
    margin-right: 50px;
}

.login-btn:hover{
    background:#351bc5;
}

.right-panel hr{
    margin-top:45px;
    border:none;
    border-top:1px solid #ddd;
}