.Content-Two{
    width:1275px;
    height:1024px;
    margin:20px auto;
    display:flex;
    border-radius:10px;
    border: 1px solid rgb(189, 176, 176);
    overflow:hidden;
}

.left-panel-Two{
    width:52%;
    background:linear-gradient(180deg,#3D79EA,#1B1A2D);
    color:white;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}

.left-text-Two{
    border: 1px solid none ;
    width: 560px;
    height: 574.38px;
    margin-top: 183px;
    margin-left: 40px;
    padding-top: 203.63px;
    padding-bottom: 96px;
    box-sizing: border-box;
}

.left-text-Two h1{
    font-size:40px;
    font-weight:700;
    font-style: bold;
    line-height: 48px;
    letter-spacing: -0.8px;
    color: #FFFFFF;
    margin-bottom: 24px;
}

.left-text-Two p{
    width:379.48px;
    font-weight: 400;
    line-height:29.25px;
    color:#DAD7FF;
    font-size:18px;
}

.security-box-Two{
    display:flex;
    align-items:center;
}
.shield-Two{
    width:64px;
    height:64px;
    border-radius:50%;
    border:1px solid #FFFFFF33;
    background: #FFFFFF1A;
    display:flex;
    align-items:center;
    justify-content:center;
    margin-top: 48px;
}
.shield-Two img{
    width: 20px;
    height: 25px;
}
.security-two-data{
    padding-left: 25px;
    padding-top: 50px;
}
.security-box-Two h4{
    font-size:14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.7px;
    color: #FFFFFF;
}

.security-box-Two span{
    color:#FFFFFF99;
    font-size:14px;
    font-weight: 400;
    line-height: 20px;
}

.copyright-Two {
    font-size:14px;
    color:#FFFFFF66;
    font-weight: 400;
    line-height: 20px;
    margin-left: 40px;
    margin-bottom: 50px;
}


.right-panel-Two{
    width:635px;
    display:flex;
    background:#fff;
}
.right-content-Two{
    border: 1px solid none;
    width: 443px;
    height: 519px;
    margin-top: 252.5px;
    margin-left: 96px;
    display: grid;
    gap: 32px;
}
.verify-card-Two{
    width:443px;
}

.verify-card-Two h1{
    font-size:32px;
    font-weight: 600;
    font-style: bold;
    line-height: 40px;
    letter-spacing: -0.32px;
    color:#111C2D;
}

.verify-card-Two p{
    color:#464555;
    font-size:16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 32px;
}

.option-Two{
    width: 443px;
    height: 92px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    border:1px solid #C7C4D8;
    border-radius:12px;
    padding:20px;
    cursor:pointer;
    transition:.3s;
    margin-bottom: 16px;
}

.option-Two.active-Two{
    border:2px solid #3525CD;
    background:#F0F3FF;
}

.option-left-Two{
    display:flex;
    align-items:center;
    gap:15px;
}

.icon-box-Two{
    width:48px;
    height:48px;
    background:#DEE8FF;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:20px;
    border: hidden;
    border-radius: 5px;
}

.option-Two h3{
    font-size:14px;
    font-weight:600;
    line-height: 20px;
    letter-spacing: 0.7px;
    color:#111C2D;
    margin-left: 4px;
    margin-top: 30px;
}

.option-Two p{
    color:#464555;
    margin-top:5px;
    font-size:14px;
    font-weight: 400;
    line-height: 20px;
    margin-left: 4px;
}

.radio-Two{
    width:22px;
    height:22px;
    border:2px solid #cfcfcf;
    border-radius:50%;
    display:flex;
    align-items:center;
    justify-content:center;
}

.dot-Two{
    width:10px;
    height:10px;
    background:#4d37e6;
    border-radius:50%;
}

.send-btn-Two{
    width:100%;
    height:50px;
    border:none;
    margin-top:50px;
    border-radius:8px;
    background:#3525CD;
    color:#FFFFFF;
    font-size:14px;
    font-weight:600;
    line-height:20px;
    cursor:pointer;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:8px;
    box-shadow:0 4px 12px rgba(77,55,230,.3);
}

.back-Two{
    margin:30px 0;
    text-align:center;
    color:#3525CD;
    cursor:pointer;
    font-size:14px;
    font-weight: 600;
}

.help-Two{
    margin-top:25px;
    text-align:center;
    color:#464555;
    font-size:14px;
    font-weight: 400;
}

.help-Two span{
    color:#3525CD;
    cursor:pointer;
}