.stats{
  background:whitesmoke;
  display:flex;
  justify-content:space-around;
  text-align:center;
  color:rgba(0, 0, 0, 0.942);
  padding:40px;
}

.stat-box h2{
  font-size:38px;
  font-weight: 800;
}

.stat-box p{
  margin-top:8px;
  font-size:13px;
  letter-spacing:1px;
  color: blue;
}