.company-page{
    width:1100px;
    margin:20px auto;
    background:#fff;
    border-radius:12px;
    overflow:hidden;
    box-shadow:0 6px 20px rgba(0,0,0,.08);
}
.Content-Company{
    width:100%;
    min-height:1000px;
    display:flex;
    background:#fff;
}

/* ================= LEFT PANEL ================= */

.Left-panel-Company{
    width:500px;
    height:1000px;
    background:linear-gradient(180deg,#3d73e2 0%, #203d78 100%);
    color:#fff;
    position:relative;
    overflow:hidden;
}

/* light blur circle */

.Left-panel-Company::before{
    content:"";
    position:absolute;
    width:250px;
    height:250px;
    border-radius:50%;
    background:rgba(255,255,255,.08);
    filter:blur(70px);
    left:-80px;
    bottom:30px;
}

.company-left-content{
    padding:120px 55px 50px;
}

.company-left-content h1{
    font-size:28px;
    line-height:42px;
    font-weight:700;
    margin-bottom:20px;
}

.company-description{
    color:#dbe4ff;
    font-size:15px;
    line-height:20px;
    margin-bottom:35px;
}

/* Features */
.Icon-back {
    width: 40px;
    height: 40px;
    border: 1px solid none;
    border-radius: 50%;
    background-color: #3525CD;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Icon-back img {
    width: 23px;
    height: 18px;
    display: block;
}
.Icon-text {
    font-size: 13px;
}
.Icon-text{
    color:#dbe4ff;
    font-size:12px;
    line-height:20px;
}
.Features {
    display: flex;
    gap: 25px;
}
/* Bottom Card */

.company-card{
    width:300px;
    height:250px;
    margin:60px auto 0;
    border-radius:18px;
    border:1px solid rgba(255,255,255,.15);
    background:rgba(255,255,255,.08);
    backdrop-filter:blur(12px);
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top: 100px;
}

.company-card img{
    width:95px;
    opacity:.8;
}
.Right-panel-Company{
    width:600px;
    min-height:700px;
    padding:35px;
    background:#fff;
    box-sizing:border-box;
    margin-top: 50px;
}
.Right-head{
    margin-bottom:20px;
}

.Right-head h2{
    font-size:30px;
    color:#222;
    margin-bottom:6px;
}

.Right-head p{
    color:#777;
    font-size:14px;
}

.register-section{
    margin-top:25px;
    margin-left: 50px;
} 

.register-title{
    font-size:13px;
    font-weight:600;
    margin-bottom:10px;
}

.Icon-group{
    display:flex;
    gap:12px;
}

.Icon1 {
    width: 82px;
    height: 78px;
    border: 1px solid #e5e5e5;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: none;
}

.Icon1:hover {
    background: #eaf5ff; 
}

.Icon1:hover span {
    color: #2f63d6;
    font-weight: 600;
}


.Icon1:hover img {
    transition: none;
}



.Icon1 img{
    width:22px;
    margin-bottom:8px;
}

.Icon1 span{
    font-size:12px;
}
.Icon1.active{
    background:#eaf5ff;
    border:2px solid #83b8ff;
}

.form-area{
    margin-top:28px;
    display:grid;
    grid-template-columns:repeat(2,1fr);
    column-gap:18px;
    row-gap:5px;
}


.form-group{
    display:flex;
    flex-direction:column;
    width:100%;
}

.form-group label{
    margin-bottom:8px;
    font-size:13px;
    font-weight:600;
}

.form-group input,
.form-group select{
    width:100%;
    height:44px;
    border:1px solid #dcdcdc;
    border-radius:8px;
    padding:0 14px;
    font-size:13px;
    box-sizing:border-box;
    outline:none;
}

.form-group input:focus,
.form-group select:focus{
    border-color:#4d6fff;
}
.company-group{
    grid-column:1 / -1;
}

.company-box{
    position:relative;
    width:100%;
}

.company-box input{
    width:100%;
    height:44px;
    border:1px solid #dcdcdc;
    border-radius:8px;
    padding-left:42px;
    padding-right:14px;
    font-size:13px;
    box-sizing:border-box;
    outline:none;
}

.company-box input:focus{
    border-color:#4d6fff;
}

.company-icon{
    position:absolute;
    left:14px;
    top:50%;
    transform:translateY(-50%);
    width:16px;
    height:16px;
    object-fit:contain;
    pointer-events:none;
}


.phone-box{
    display:flex;
    gap:8px;
}

.phone-box select{
    width:75px;
}

.phone-box input{
    flex:1;
}


.password-box{
    position:relative;
    width:100%;
}

.password-box input{
    width:100%;
    height:44px;
    border:1px solid #dcdcdc;
    border-radius:8px;
    padding:0 14px;
    font-size:13px;
    box-sizing:border-box;
}

.password-box input:focus{
    border-color:#4d6fff;
}

.password-box span{
    position:absolute;
    right:15px;
    top:50%;
    transform:translateY(-50%);
    cursor:pointer;
}
.agree{
    grid-column: 1 / -1;
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.agree input{
    width: 16px;
    height: 16px;
    flex-shrink: 0;
}

.agree p{
    margin: 0;
    font-size: 12px;
    line-height: 1;
    white-space: nowrap;
}

.agree span{
    color: #5a36ff;
    cursor: pointer;
}

.button-row{
    grid-column:1 / -1;
    width:100%;
}

.create-btn{
    width:100%;
    height:48px;
    border:none;
    border-radius:8px;
    background:#4328f5;
    color:#fff;
    font-size:15px;
    font-weight:600;
    cursor:pointer;
    margin-top:8px;
}

.create-btn:hover{
    background:#3720d8;
}

.dividerC{
    display:flex;
    align-items:center;
    gap:12px;
    margin:20px 0;
    color:#999;
    font-size:12px;
    justify-content: center;
    width: 100%;
}
.dividerC hr {
    flex: 1;
    border: none;
    border-top: 1px solid #d1d5db;
}
.dividerC span {
    color: #666;
    font-size: 14px;
    font-weight: 500;
    text-transform: lowercase;
}



.signin1{
    text-align:center;
    font-size:13px;
    color:#666;
}

.signin1 span{
    color:#3f32f4;
    cursor:pointer;
    font-weight:600;
}
.company-nav-footer{
    width:100%;
    height:55px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:0 30px;
    border-top:1px solid #e8e8e8;
    box-sizing:border-box;
    background:#fff;
}

.company-logo{
    font-size:20px;
    font-weight:700;
    color:#3b46d3;
}

.company-nav-links{
    display:flex;
    gap:45px;
    font-size:14px;
    font-weight:600;
    color:#333;
}

.company-nav-links span{
    cursor:pointer;
}

.company-login-link{
    font-size:14px;
    font-weight:600;
    color:#3b46d3;
    cursor:pointer;
}

/*================ MAIN FOOTER ================*/

.company-footer{
    width:100%;
    background:#dfe9ff;
    padding:45px 35px 20px;
    box-sizing:border-box;
}

.footer-content{

    display:flex;
    justify-content:space-between;
    align-items:flex-start;

}

.footer-column{

    width:180px;

}

.footer-brand{

    width:290px;

}

.footer-column h3{

    margin-bottom:20px;
    font-size:22px;
    color:#3548d3;

}

.footer-column h4{

    margin-bottom:20px;
    color:#222;
    font-size:17px;

}

.footer-column p{

    color:#555;
    line-height:28px;
    font-size:14px;
    margin:0;

}

.company-footer hr{

    margin:35px 0 20px;
    border:none;
    border-top:1px solid #c8d4ef;

}

.footer-bottom{

    display:flex;
    justify-content:space-between;
    align-items:center;

}

.footer-bottom p{

    font-size:13px;
    color:#555;

}

.footer-icons span img{
        width: 25px;
        height: 25px;
        cursor: pointer;
}